<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    
    <title>TECSHOP | Ordenes</title>
    
    <!--Bootstrap-->
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    
    <!--CSS-->
    <link rel="stylesheet" th:href="@{/style.css}">
    <!--Google Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
</head>
<body>
    
    <!--Barra de navegacion--->
    <div th:include="admin/template_admin.html::header"></div>
  


    <!--Producto-->
    <section class="lista-productos">
      <div class="lista-contenedor">
        <h2>Ordenes</h2>
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a th:href="@{/admin}">Inicio</a></li>
            <li class="breadcrumb-item active" aria-current="page">Ordenes</li>
          </ol>
        </nav>
        
        
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Nro. de Orden</th>
              <th scope="col">Fecha</th>
              <th scope="col">Valor</th>
              <th scope="col">Accion</th>
              
            </tr>
          </thead>
          <tbody>
            <tr th:each="order:${orderList}">
              <th scope="row" th:text="${order.number}"></th>
              <td th:text="${order.dateCreate}"></td>
              <td th:text="${order.total}"></td>
              <td><a th:href="@{/admin/detail/{id}  (id=${order.id})  }" class="btn btn-success">Ver Detalle</a></td>

            </tr>
            
          </tbody>
        </table>

    
        </div>
      
    </section>

    

    <!--Footer-->
    <footer class="footer">
      <p class="paragraft">Copyright © 2022 OMAR PIMENTEL. Todos los derechos reservado.</p>
    </footer>
      

    <script th:src="@{/bootstrap/js/bootstrap.bundle.min.js}"></script>
</body>
</html>