<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    
    <title>Tienda Oline TECSHOP | Carrito</title>
    
   <!--Bootstrap-->
   <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
   
    <!--CSS-->
    <link rel="stylesheet" th:href="@{/style.css}">
    <!--Google Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
</head>
<body>
    
  <!--Barra de navegacion--->
<div th:include="user/template_user.html::header" th:if="${sesion==null}"></div>

<div th:include="user/template_user.html::header-user" th:unless="${sesion==null}"></div>
    

    <!--Carrito -->
    <section class="carrito">
      <div class="header">
        <h2>Carrito</h2>
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a th:href="@{/}">Inicio</a></li>
            <li class="breadcrumb-item active" aria-current="page">Carrito</li>
          </ol>
        </nav>
      </div>
      
      <div class="carrito-contenedor">
        <div class="carrito-form">
        <table class="table" >
          <thead>
            <tr>
              <th scope="col">Producto</th>
              <th scope="col">Precio</th>
              <th scope="col">Cantidad</th>
              <th scope="col">Total</th>
              <th scope="col">Acción</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="orderDetail:${car}">
              <th scope="row" th:text="${orderDetail.name}"></th>
              <td th:text="'US$ ' + ${orderDetail.price}"></td>
              <td th:text="${orderDetail.quantity}"></td>
              <td th:text="'US$ ' + ${orderDetail.total}"></td>
              <td>
                <a th:href="@{/cart/delete/{id}  (id=${orderDetail.product.id})}" class="btn btn-danger">
                  Eliminar
                </a>
              </td>
            </tr>
          </tbody>
        </table>
        </div>
      
        <div class="carrito-subtotal" >
        <form class="ver-producto-form" action="">
            <div class="carrito-subtotal-description">
              <h2>Resumen</h2>
              <hr>
              <h3 th:text="'US$ ' + ${order.total}"></h3>
              <hr>
            </div>
            <div class="carrito-subtotal-boton">
              <a  class="btn btn-primary boton-form" th:unless="${sesion==null}" th:href="@{/order}">Ver Orden</a>
              <a  class="btn btn-primary boton-form" th:if="${sesion==null}" th:href="@{/user/login}">Iniciar Sesión</a>
            </div> 
        </form>
        </div>
      </div>


    </section>


    <!--Footer-->
    <footer class="footer">
      <p class="paragraft">Copyright © 2022 OMAR PIMENTEL. Todos los derechos reservado.</p>
    </footer>
      

    <script th:src="@{/bootstrap/js/bootstrap.bundle.min.js}"></script>
</body>
</html>